body{
background-image: url(https://www.adamdorman.com/wallpaper/gradient_1600x1200.jpg);
background-position: center;
background-size:cover;

}

h1{

	font-family: 'Sahitya', serif;
	color: #32368F;
	font-size: 75;
	padding-left: 50px;
	border-color: transparent;
	margin-left: 40px;

}
.under{
	transition: all 2s;

}


   .clo 
{	
	border: double white;
	 border-width: 1px;
	display: block;
	margin-right:auto;
	margin-left:auto;
	
	-moz-box-shadow:4px 4px 5px #888888;
	-ms-box-shadow: 4px 4px 5px #888888;
	-webkit-box-shadow: 4px 4px 5px #888888;
	-o-box-shadow: 4px 4px 5px #888888;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
	transition: all 2s;
	  max-width: 80%;
  height: auto;
}


.CA, .pro
{	border: double white;
	 border-width: 1px;
	display: block;
	margin-right:auto;
	margin-left:auto;
	
	-moz-box-shadow:4px 4px 5px #888888;
	-ms-box-shadow: 4px 4px 5px #888888;
	-webkit-box-shadow: 4px 4px 5px #888888;
	-o-box-shadow: 4px 4px 5px #888888;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
	transition: all 2s;
	  max-width: 80%;
  height: auto;
}
.fic
{
	border: double white;
	 border-width: 1px;
	display: block;
	margin-right:auto;
	margin-left:auto;
	-moz-box-shadow:4px 4px 5px #888888;
	-ms-box-shadow: 4px 4px 5px #888888;
	-webkit-box-shadow: 4px 4px 5px #888888;
	-o-box-shadow: 4px 4px 5px #888888;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
	transition: all 2s;
	  max-width: 80%;
      height: auto;

}

.pic, .web
{	border: double white;
	 border-width: 1px;
	display: block;
	margin-right:auto;
	margin-left:auto;
	
	-moz-box-shadow:4px 4px 5px #888888;
	-ms-box-shadow: 4px 4px 5px #888888;
	-webkit-box-shadow: 4px 4px 5px #888888;
	-o-box-shadow: 4px 4px 5px #888888;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
	transition: all 2s;
	   max-width: 80%;
  height: auto;
}

.blo , .tm
{	border: double white;
	 border-width: 1px;
	display: block;
	margin-right:auto;
	margin-left:auto;
	-moz-box-shadow:4px 4px 5px #888888;
	-ms-box-shadow: 4px 4px 5px #888888;
	-webkit-box-shadow: 4px 4px 5px #888888;
	-o-box-shadow: 4px 4px 5px #888888;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
	transition: all 2s;
	max-width: 80%;
    height: auto;
}

.center:hover{
	transform:scale(1.1);
	

}


h2{
	color: #404377;
	font-family: 'Sahitya', serif;
	font-size: 48;
	text-align: center;
	margin: 50px;
}


.end{

	display: block;
	margin-right: auto;
	margin-left: auto;
}
